



body{
  background-image: url('https://i.pinimg.com/564x/b9/de/ef/b9deefb7222a90a889099c3dbd2c6221.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
a:link{
 text-decoration: none;
font-family: "raleway";
/* border: 2px solid black; */
}


.campus-delete-button{
  text-align: center;
  /* border: 2px solid black; */
}



.main-nav{
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 70px;
  opacity: .5;
  border-radius: 15px;
  background-color:grey;
  color:white;
}

.nav-ul{
  list-style: none;
  font-family: 'Raleway';
  font-weight: bold;
  font-variant: small-caps;
  height: 20px;

}

 li{
  display: inline-block;
  padding-right:20px;
  font-size: 24px;
}

.mainContainer {

   display:flex;
   justify-content: space-around;
   font-family: 'Lobster';
   margin-top: 50px;
}


.student-list{
  background-image: url('https://i.pinimg.com/564x/b9/de/ef/b9deefb7222a90a889099c3dbd2c6221.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}


.studentshome,
.campuseshome{

font-size: 80px;
color:rgb(37, 17, 37);
text-shadow: 1px 3px black;
}

.studentshome:hover,
.campuseshome:hover{
text-shadow: 2px 1px grey;
}



.campus-list-container {
  display: flex;
  justify-content: center;

}


.campus-students-list{
  background-image: url('https://i.pinimg.com/564x/b9/de/ef/b9deefb7222a90a889099c3dbd2c6221.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#campusForm{
  display:flex;


}

#campusForm  label{
  margin:30px;
  display: inline-block
}


#campusContent{
  display: flex;
  flex-direction: column;
}
